extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.mapa
        .mapa__bilz
            img(src="/images/reciclado/mapa-left.png")
        .mapa__pap
            img(src="/images/reciclado/mapa-right.png")
        .mapa__title mapa virtual
        .mapa__searchbar
            i.fa.fa-search
            input(placeholder="buscar el punto limpio más cercano")
        a.mapa__add-button(href="#")
            img(src="/images/home/tooltip.png")
            p sugerir
            span punto<br>limpio
        .mapa__pins
            img(src="/images/reciclado/mapa-pin.png")
            img(src="/images/reciclado/mapa-pin.png")
            img(src="/images/reciclado/mapa-pin.png")
            img(src="/images/reciclado/mapa-pin.png")
            img(src="/images/reciclado/mapa-pin.png")
            img(src="/images/reciclado/mapa-pin.png")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75331.10957553171!2d-70.69014685025316!3d-33.44424958503088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5410425af2f%3A0x8475d53c400f0931!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses-419!2sar!4v1570718143144!5m2!1ses-419!2sar")


