extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.historia
        h2.historia__title historia
        p.historia__text ¡tenemos una historia muy divertida!<br>conoce más de nuestra aventura aquí.
        .historia__container
            .historia__arrow-down
                i.fa.fa-arrow-down
            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-1.png")
                .historia__group-text
                    span 1905
                    p comienza a comercializarse bilz, una gaseosa inspirada en un brebajje alemán.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-2.png")
                .historia__group-text
                    span.-red 1916
                    p ccu adquiere embotelladora ebner y comienza a distribuir bilz en todo el pais.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-3.png")
                .historia__group-text
                    span 1927
                    p se lanza papaya rex imitation, gaseosa con sabor a papaya.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-4.png")
                .historia__group-text
                    span.-red 1960
                    p papaya rex adquiere su nombre actual: pap

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-5.png")
                .historia__group-text
                    span 1970
                    p ambas bebidas comienzan a comercializarse juntas y se crea el concepto bilz y pap

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-6.png")
                .historia__group-text
                    span.-red 1970
                    p Se lanza la tira comica las aventuras de don bilz en la revista infantil el penca.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-7.png")
                .historia__group-text
                    span 1975
                    p se crea el envase definitivo de bilz y pap, incluido el formato familiar.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-8.png")
                .historia__group-text
                    span.-red 1980
                    p tras una exitosa campaña publicitaria se adopta el popular slogan "un mundo de fantasia"

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-9.png")
                .historia__group-text
                    span 1997
                    p aparecen las mascotas bily y maik

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-10.png")
                .historia__group-text
                    span.-red 2002
                    p lanzamiento bilz y pap light.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-11.png")
                .historia__group-text
                    span 2011
                    p se lanza la linea pop con nuevos sabores.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-12.png")
                .historia__group-text
                    span.-red 2011
                    p ingreso de bilz y pap al marketing hall of fame por su aporte a la publicidad.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-13.png")
                .historia__group-text
                    span 2012
                    p llega al mercado bilz y pap zero, sin calorias y endilzada con sucralosa.

            .historia__group.wow.fadeInUpBig
                .historia__group-image
                    img(src="/images/diversion/history-14.png")
                .historia__group-text
                    span.-red 2012
                    p se relanza al mercado bilz y pap retro, en un formato de botellas vintage.
            
            p.historia__bottom-text la aventura de bilz y pap en el tiempo

        .historia__resume
            .historia__resume-container
                p ¿Sabías que Bilz y Pap es la primera bebida de fantasia elaborada en Chile? Su aparición se remonta a comienzos del siglo XX, especificamente a 1905, cuando sale al mercado Bilz, una gaseosa con sabor a granadina. Estaba inspirada en un brebaje alemán del mismo nombre que en ese entonces era producida por embotelladora Ebner.<br>En 1916 CCU adquiere la compañia Ebner y Bilz entra la portafolio de la embotelladora más grande del país. En 1927 se lanzó al mercado Papaya Rex Imitation, que en 1960 comienza a llamarse simplemente Pap. Su sabor frutal, inspirado en la papaya, se hizo rapidamente uno de los favoritos de los niños. Aunque en un proncipio se comercializaban por separado, en 1970 ambas gaseosas pasan a ser un conjunto y obtienen el nombre por el que son conocidos hasta hoy: Bilz y Pap. Para ese entonces ya tenian un mercado asegurado y eran las mas antiguas de chile. Cinco años más tarde se diseñan sus envases definitivos, que por su rápida aceptación del público, tomaron el formato familiar
            .historia__resume-container
                p En la misma decada, CCU publicó en la revista infantil El Penca, una tira comica llamada "Las aventuras de don Bilz". En este mismo periodo nació el slogan "Con Bilz y Pap un mundo de fantasia", vigente hasta 1997, cuando aparecen Bily y Maik, las mascotas galacticas. Durante los años 80 ambas bebidas comenzaron destacarse y se pposicionaron definitivamente en la mente de los chilenos. Fue gracias a la genial campaña publicitaria en que se acuño la frase "El mundo de Bilz y Pap", cuandpo entran en el leguaje popular. En 2011 Bilz y Pap ingresa al Marketing Hall Of Fame, una importante distincion entregada a las marcas exitosas en el tiempo y que han contribuido al marketing a traves de su innovacion. Un año mas tarde se amplia el portafolio de productos y se lanzan 3 nuevos sabores de fantasia bajo el nombre de Pop.<br><br>En 2012 la marca decide relanzar una edicion limitada de sus botellas de 1905. Para esto se inspiraron en los cartoons de principios de 1900 con una divertida campaña publicitaria, ademas de distribuir las botellas retro.











