extends ../_layouts/base

include ../_modules/slider/slider

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.creaciones
        h2.creaciones__section-title creaciones
        section.creaciones__hero
            .creaciones__hero__left-hand
                img(src="/images/reciclado/creaciones-left-hand.png")
            .creaciones__hero__right-hand
                img(src="/images/reciclado/creaciones-right-hand.png")
            h3.creaciones__hero__title.-js-slider-title
            .creaciones__hero__container
                .creaciones__hero__slider
                    .creaciones__hero__arrow-prev.-js-arrow-prev
                        img.-arrow-prev(src="/images/arrow-left.png")
                        .creaciones__hero__thumbnail-prev
                            img.-thumbnail-prev
                    .creaciones__hero__arrow-next.-js-arrow-next
                        img.-arrow-next(src="/images/arrow-right.png")
                        .creaciones__hero__thumbnail-next
                            img.-thumbnail-next
                    span.icon-play
                        i.fa.fa-play(aria-hidden="true")
                    .creaciones__hero__slide
                        img.-js-slider-overlay(src="")
                        iframe.-js-slider-video(src="")
                p.creaciones__hero__text.-js-slider-text
                a.creaciones__hero__scroll-button(href="#materiales")
                    i.fa.fa-arrow-down
                    p ver los<br>materiales
        section.creaciones__materiales#materiales
            h3.creaciones__materiales__title meteriales
            .creaciones__materiales__bottom-hand
                img(src="/images/reciclado/creaciones-bottom-hand.png")
            .creaciones__materiales__container.-js-materiales-container
            .creaciones__materiales__warning
                img(src="/images/reciclado/creaciones-warning-icon.png")
                p recuerda utilizar los elementos marcados como peligrosos en compañia de un adulto
