footer.footer
    .footer__container
        a.footer__logo(href="/")
            img(src="/images/logo-footer.png")
        .footer__social
            ul.footer__social-list
                li.footer__social-item
                    a(href="#")
                        i.fa.fa-facebook
                li.footer__social-item
                    a(href="#")
                        i.fa.fa-instagram
                li.footer__social-item
                    a(href="#")
                        i.fa.fa-youtube-play
