footer.footer
    .footer__container
        a.footer__logo(href="/")
            img(src="/images/logo-footer.png")
        .footer__social
            ul.footer__social-list
                li.footer__social-item
                    a(href="https://www.facebook.com/YoQuieroOtroMundoBilzYPap" target="_blank")
                        i.fa.fa-facebook
                li.footer__social-item
                    a(href="https://www.instagram.com/bilzypapcl/?hl=es-la" target="_blank")
                        i.fa.fa-instagram
                li.footer__social-item
                    a(href="https://www.youtube.com/user/bilyymaik" target="_blank")
                        i.fa.fa-youtube-play
