.campanas {
    height: 100vh;
    background: url('/images/campanas/background.jpg') no-repeat center center / cover;
    position: relative;

    &__container {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 3;
        width: 45%;
        padding: 20px;
        background: $yellow;
        border-radius: 10px;
        height: 390px;
    }

    &__slider {
        width: 100%;
    }

    .slick-slide,
    .slick-list {
        width: 100%;
    }

    .slick-prev {
        left: -100px;
        top: 40%;
    }

    .slick-next {
        right: -100px;
        top: 40%;
    }

    &__slide {
        height: 350px;
        width: 100%;
        position: relative;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
            margin-bottom: 30px;
        }

        img {
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 100%;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            color: $white;
            font-size: 30px;
            text-transform: uppercase;
            margin: 0;
        }
    }
}