.creaciones {
    &__section-title {
        position: absolute;
        left: 0;
        top: 20%;
        padding: 0 40px;
        height: 40px;
        line-height: 40px;
        background: $blue;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        z-index: 2;
        color: $white;
        font-family: $altFont;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;

        @include mq(md) {
            height: 60px;
            line-height: 60px;
            font-size: 30px;
            top: 21vh;
        }
    }

    &__hero {
        height: 100vh;
        background: url('/images/reciclado/creaciones-hero-bg.jpg') no-repeat center top / contain;
        position: relative;

        @include mq(md) {
            background: url('/images/reciclado/creaciones-hero-bg.jpg') no-repeat center top / cover;
            height: 140vh;
        }

        &__left-hand,
        &__right-hand {
            position: absolute;
            bottom: 0   ;
            z-index: 10;
            width: 25%;

            @include mq(md) {
                bottom: -50px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__right-hand{ 
            left: auto;
            right: 0;
        }

        &__title {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            text-transform: uppercase;
            color: $red;
            font-size: 30px;
            font-family: $altFont;
            white-space: nowrap;

            @include mq(md) {
                top: 15%;
                font-size: 60px;
            }
        }

        &__container {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 40%;

            @include mq(md) {
                width: 50%;
                top: 30%;
            }
        }

        &__slider {
            height: 100%;
        }

        .slick-slide,
        .slick-track,
        .slick-list {
            height: 100% !important;

            > div {
                height: 100% !important;
            }
        }

        // .slick-slide {
        //     // width: 100% !important;

        //     @include mq(md) {
        //         width: auto;
        //     }
        // }

        .slick-prev {
            left: -200px;
        }

        .slick-next {
            right: -200px;
        }

        .slick-dots {
            display: none !important;
        }

        &__slide {
            position: relative;
            height: 100%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            color: $white;
            text-transform: uppercase;
            font-family: $altFont;
            font-size: 28px;
            text-align: center;
        }

        &__scroll-button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            height: 120px;
            background: $yellow;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 10;

            i {
                position: absolute;
                top: -30px;
                font-size: 50px;
                left: 50%;
                transform: translateX(-50%);
            }

            p {
                margin: 0;
                text-align: center;
                color: $black; 
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    &__materiales {
        min-height: 100vh;
        background: url('/images/reciclado/creaciones-bottom-bg.png') no-repeat center top / cover;
        margin-top: -250px;
        z-index: 3;
        position: relative; 
        padding-top: 250px;
        overflow: hidden;
        pointer-events: none;

        @include mq(md) {
            margin-top: -200px;
            padding-top: 200px;
        }

        &__bottom-hand {
            position: absolute;
            left: 10px;
            bottom: -100px;
            
            @include mq(md) {
                bottom: -200px;
            }

            img {
                width: 50%;
                height: auto;

                @include mq(md) {
                    width: 100%;
                }
            }
        }

        &__title {
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            color: $red;
            font-family: $altFont;
            margin-bottom: 40px;
            font-size: 40px;
            
            @include mq(md) {
                font-size: 80px;
            }
        }

        &__container {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 300px;
            pointer-events: all;

            @include mq(md) {
                width: 60%;
                padding-bottom: 150px;
            }
        }

        &__material {
            width: 50%;
            padding: 0 10px;
            margin-bottom: 40px;
            position: relative;
            
            @include mq(md) {
                width: 25%;
            }

            img {
                width: 90%;
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 20px;

                @include mq(md) {
                    width: 70%;
                }

                &.-warning {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: auto;
                }
            }

            p {
                color: $darkestGray;
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                margin: 0;
                font-size: 18px;
                font-family: $titleFont;
            }
        }

        &__warning {
            min-width: 80%;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            padding: 0 20px;
            margin-left: auto;
            margin-right: auto;

            @include mq(md) {
                height: 60px;
            }

            img {
                transform: rotate(-20deg);
                height: auto;
                width: 50px;
                margin-right: 20px;

                @include mq(md) {
                    height: 80%;
                    width: auto;
                }
            }

            p {
                font-weight: 500;
                text-transform: uppercase;
                color: $darkestGray;
                white-space: wrap;

                @include mq(md) {
                    white-space: nowrap;
                }
            }
        }
    }
}