.mundo {
    padding: 20vh 0;
    background: url('/images/diversion/mundo-back.jpg') no-repeat center top / cover;
 
    &__hero {
        height: 100vh;
        padding-top: 15vh;

        @include mq(md) {
            padding-top: 0;
        }

        &__container {
            margin-right: auto;
            margin-left: auto;
            width: 90%;
            
            @include mq(md) {
                width: 40%;
            }
        }

        &__title {
            font-size: 90px;
            font-family: $altFont;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: $white;
            line-height: .7;

            @include mq(md) {
                font-size: 180px;
            }

            span {
                display: block;
                color: $yellow;
                font-size: 40px;

                @include mq(md) {
                    font-size: 70px;
                }
            }
        }

        &__text {
            color: $white;
            text-transform: uppercase;
            font-family: $altFont;
            text-align: center;
            font-size: 16px;
            
            @include mq(md) {
                font-size: 24px;
            }
        }
    }

    &__historia,
    &__campanas {
        height: 70vh;
        padding-left: 10%;
        display: flex;
        align-items: center;

        &__container {
            width: 30%;

        }

        &__title {
            color: $white;
            font-family: $altFont;
            text-transform: uppercase;
            font-size: 100px;
            margin: 0;
            margin-bottom: 20px;
            line-height: 1;
        }

        &__text {
            margin: 0;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-size: 20px;
            color: $white;
            font-family: $altFont;
        }

        &__button {
            border: none;
            text-align: center;
            position: relative;
            perspective: 1000;
            display: block;
            width: 100%;
            height: 60px;
            overflow: hidden;
            line-height: 55px;
            text-decoration: none;
            margin-top: 20px;
            
            @include mq(md) {
                width: 60%;
            }

            span {
                position: absolute;
                box-shadow: 0 20px 10px 1px rgba(0,0,0,.15);
                top: -30px;
                left: 0;
                right: 0;
                bottom: 4px;
                background: $yellow;
                transform: skewY(-2deg);
            }

            p {
                font-family: $altFont;
                color: $darkestGray;
                z-index: 2;
                position: relative;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0;
                font-weight: 500;
            }
        }    
    }

    &__productos {
        height: 70vh;
        display: flex;
        align-items: center;

        &__container {
            margin-left: 50%;
        }

        &__title {
            color: $white;
            font-family: $altFont;
            text-transform: uppercase;
            font-size: 100px;
            margin: 0;
            margin-bottom: 20px;
            line-height: 1;
        }

        &__text {
            margin: 0;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-size: 20px;
            color: $white;
            font-family: $altFont;
        }

        &__button {
            border: none;
            text-align: center;
            position: relative;
            perspective: 1000;
            display: block;
            width: 100%;
            height: 60px;
            overflow: hidden;
            line-height: 55px;
            text-decoration: none;
            margin-top: 20px;
            
            @include mq(md) {
                width: 60%;
            }

            span {
                position: absolute;
                box-shadow: 0 20px 10px 1px rgba(0,0,0,.15);
                top: -30px;
                left: 0;
                right: 0;
                bottom: 4px;
                background: $blue;
                transform: skewY(-2deg);
            }

            p {
                font-family: $altFont;
                color: $darkestGray;
                z-index: 2;
                position: relative;
                text-transform: uppercase;
                font-size: 20px;
                margin: 0;
                font-weight: 500;
            }
        }    
    }

    &__campanas {
        &__button {
            span {
                background: $yellow;
            }
        }
    }
}