extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.tips
        h2.tips__title tips
        .tips__container
            .tips__tip
                .tips__tip__image
                    img(src="/images/reciclado/tips-icon-1.png")
                .tips__tip__content
                    span 1
                    p cuidemos los arboles. revisa tus cuentas online para no gastar papel, asi evitas la tala de arboles y la contaminacion de aguas
                    ul
                        li
                            a
                                i.fa.fa-facebook
                        li
                            a
                                i.fa.fa-twitter

            .tips__tip
                .tips__tip__image
                    img(src="/images/reciclado/tips-icon-2.png")
                .tips__tip__content
                    span 2
                    p prefiere ampolletas ecológincas, estas son mas eficientes y duran 15 veces más que una ampolleta de alto consumo
                    ul
                        li
                            a
                                i.fa.fa-facebook
                        li
                            a
                                i.fa.fa-twitter

            .tips__tip
                .tips__tip__image
                    img(src="/images/reciclado/tips-icon-3.png")
                .tips__tip__content
                    span 3
                    p utiliza las escaleras para ahorrar energia y aprovecha de ejercitarte. un ascensor para 8 personas puede consumir hasta 3.100 kwh al año. 
                    ul
                        li
                            a
                                i.fa.fa-facebook
                        li
                            a
                                i.fa.fa-twitter

            .tips__tip
                .tips__tip__image
                    img(src="/images/reciclado/tips-icon-4.png")
                .tips__tip__content
                    span 4
                    p planta un arbol por cada integrante de la familia. ¡los arboles producen oxigeno y purifican el aire!
                    ul
                        li
                            a
                                i.fa.fa-facebook
                        li
                            a
                                i.fa.fa-twitter

