extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.reciclaje
        section.reciclaje__hero#top
            img(src="/images/reciclado/hero-personajes.png")
            h2.reciclaje__hero__title.wow.bounceInUp
                |reciclaje
                span modo bilz y pap
            .reciclaje__hero__container
                p.reciclaje__hero__text Reciclar es mucho mas divertido si lo hacemos en #ModoBilzyPap. <br> Aquí aprenderas todo sobre reciclaje, desde los puntos limpios hasta cómo hacer nuestas divertidas Creaciones con botellas ¡Vamos!
                img(src="/images/reciclado/hero-pergamino.png")
      
        section.reciclaje__mapa#mapa
            .reciclaje__mapa__container.reciclaje__mapa__container--left
                h3.reciclaje__mapa__title.wow.bounceInLeft
                    |mapa
                    span virtual
                p.reciclaje__mapa__text.wow.bounceInLeft ¡quiero reciclar! conocé aquí los puntos limpios más cercanos. porque reciclar es más divertido en #Modobilzypap
                a.reciclaje__mapa__button.wow.bounceInLeft(href="/mapa")
                    span
                    p ingresar al mapa
            .reciclaje__mapa__container.reciclaje__mapa__container--right
               .reciclaje__mapa__image.wow.bounceInRight
                    img(src="/images/reciclado/mapa.png")

        section.reciclaje__creaciones#creaciones
            .reciclaje__creaciones__container
               .reciclaje__creaciones__image.wow.bounceInLeft
                    img(src="/images/reciclado/creaciones.png")
            .reciclaje__creaciones__container
                h3.reciclaje__creaciones__title.wow.bounceInRight creaciones 
                p.reciclaje__creaciones__text.wow.bounceInRight ponte en reciclaje #modobilzypap y crea las mejores ideas reciclando botellas
                a.reciclaje__creaciones__button.wow.bounceInRight(href="/creaciones")
                    span
                    p entrar

        section.reciclaje__ideas#ideas
            .reciclaje__ideas__container.reciclaje__ideas__container--left
                h3.reciclaje__ideas__title.wow.bounceInLeft
                    |sube tu 
                    span idea
                p.reciclaje__ideas__text.wow.bounceInLeft ¿tienes una idea y necesitas contarle al mundo? cuéntanos lo que tienes en mente aquí
                a.reciclaje__ideas__button.wow.bounceInLeft(href="/ideas")
                    span
                    p subir idea
            .reciclaje__ideas__container.reciclaje__ideas__container--right
                .reciclaje__ideas__image.wow.bounceInRight
                    img(src="/images/reciclado/idea.png")
                img.reciclaje__idea-mano.wow.bounceInRight(src="/images/reciclado/idea-mano.png")

        section.reciclaje__tips#tips
            .reciclaje__tips__container
               .reciclaje__tips__image.wow.bounceInLeft
                    img(src="/images/reciclado/tips.png")
                
              
            .reciclaje__tips__container
                h3.reciclaje__tips__title.wow.bounceInRight tips 
                p.reciclaje__tips__text.wow.bounceInRight estos tips son infaltables para crear otro mundo. para saberlos todos ingresa aquí
                a.reciclaje__tips__button.wow.bounceInRight(href="/tips")
                    span
                    p conoce los tips
