@import './pages/home';
@import './pages/reciclaje';
@import './pages/diversion';
@import './pages/mapa';
@import './pages/creaciones';
@import './pages/mundo';
@import './pages/ideas';
@import './pages/tips';
@import './pages/cuentos';
@import './pages/productos';
@import './pages/historia';
@import './pages/campanas';
@import './pages/contacto';
