header.header
    .header__container
        a.header__logo(href="/")
            img(src="/images/logo.png")
        .header__wrapper
            nav.header__nav    
                ul.header__list
                    li.header__item
                        a(href="/reciclaje") reciclaje modo bilz y pap
                    li.header__item
                        a(href="/diversion") diversion de otro mundo
                    li.header__item
                        a(href="/mundo") mundo bilz y pap
                    li.header__item
                        a(href="/contacto") hablemos
            .header__social
                ul.header__social-list
                    li.header__social-item
                        a(href="https://www.facebook.com/YoQuieroOtroMundoBilzYPap" target="_blank")
                            i.fa.fa-facebook
                    li.header__social-item
                        a(href="https://www.instagram.com/bilzypapcl/?hl=es-la" target="_blank")
                            i.fa.fa-instagram
                    li.header__social-item
                        a(href="https://www.youtube.com/user/bilyymaik" target="_blank")
                            i.fa.fa-youtube-play
            .header__hamburguer
                span
                span
                span


