extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.mundo
        section.mundo__hero
            .mundo__hero__container
                h2.mundo__hero__title.wow.bounceInUp
                    |mundo
                    span bilz y pap
                p.mundo__hero__text.wow.bounceInUp ¡bienvenido al mundo de bilz y pap! conoce aquí toda nuestra aventura en el tiempo.

        section.mundo__historia
            .mundo__historia__container
                h3.mundo__historia__title.wow.bounceInLeft historia
                p.mundo__historia__text.wow.bounceInLeft ¡tenemos una historia muy divertida! conoce más de nuestra aventura aquí
                a.mundo__historia__button.wow.bounceInLeft(href="/historia")
                    span
                    p nuestra aventura

        section.mundo__productos
            .mundo__productos__container
                h3.mundo__productos__title.wow.bounceInRight productos
                p.mundo__productos__text.wow.bounceInRight que rico es divertirse compartiendo con bilz y pap
                a.mundo__productos__button.wow.bounceInRight(href="/productos")
                    span
                    p bebidas de otro mundo

        section.mundo__campanas
            .mundo__campanas__container
                h3.mundo__campanas__title.wow.bounceInLeft campañas
                p.mundo__campanas__text.wow.bounceInLeft vuelve a ver aquí nuestras campañas de otro mundo
                a.mundo__campanas__button.wow.bounceInLeft(href="/campanas")
                    span
                    p nuestras campañas
