extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

include ../_modules/slider/slider

block content
    main.campanas
        .campanas__container
            +slider('campanas__slider', 'normal')
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/X0_h1dGo4EM")
                    p primera carrera de e-karts en latinoamérica
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/YeI9UkgskTk")
                    p kidzapalooza en #modobilzypap
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/eNZkQjwJulE")
                    p robots zero
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/ahAWkZpe2l0")
                    p feliz nabilzpap 2018
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/RM21ZabcEAo")
                    p teleton 2018
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/f6ud99LNU9o")
                    p bilz y pap & transformers
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/fESiiT8pm_8")
                    p reciclaje #modobilzypap
                .campanas__slide
                    img(src="/images/campana-1.png")
                    p árbol de deseos de bilz y pap
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/tlzifjGDCLg")
                    p verano 2018
                .campanas__slide
                    img(src="/images/campana-2.png")
                    p árbol de los deseos
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/0IIFpuMrPAc")
                    p teleton 2017
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/BJ2eh0HszmM")
                    p spot pop candy centella, manzana confitada, algodón de azúcar
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/PxK7eGM07fU")
                    p caritas
                .campanas__slide
                    iframe(src="https://www.youtube.com/embed/suINT3JfVvo")
                    p caritas juego
