extends _layouts/base

include ./_modules/slider/slider

block content
    main.home
        .home__indicators
            a(href="#home").-indicator
            a(href="#reciclaje").-indicator
            a(href="#diversion").-indicator
            a(href="#mundo").-indicator
        section.home__hero#hero
            a.home__hero__scroll-container(href="#reciclaje")
                .home__hero__arrow-icon
                    img(src="/images/arrow-bottom-alone.png")
                p.home__hero__scroll-text
                    |scroll para
                    span descubrir otro mundo
            +slider('home__hero__slider', 'static')
                .home__hero__slide
                    img.wow.fadeInLeft.-align-left(src="/images/home/left-hand.png")
                    img.wow.fadeInRight.-align-right(src="/images/home/right-hand.png")
                    .home__hero__container.wow.fadeInUpBig
                        h2.home__hero__title ¡Bienvenidos a un sitio de otro mundo!
                        p.home__hero__text diviértete en familia con ideas de otro mundo
                .home__hero__slide.-second
                    img(src="/images/home/hero-2-main.png")
                    .home__hero__container.-left
                        h2.home__hero__title.-red Creaciones de<br>otro mundo
                        p.home__hero__text.-black ponte en reciclaje #modobilzypap y aprende a hacer esta divertida creación para jugar sin parar de forma fácil y rápida.
                        a.home__hero__button(href="#")
                            span
                            p ¡juega aquí!
                .home__hero__slide.-third
                    .home__hero__container.-left
                        h2.home__hero__title.-black mapa<br>virtual
                        p.home__hero__text.-black descubre los puntos limpios que están más cerca de ti para que entre todos ayudemos a limpiar el hermoso planeta en el que vivimos  
                        a.home__hero__button(href="#")
                            span
                            p conocelos aquí
        
        section.home__reciclaje#reciclaje
            .home__reciclaje__stage#reciclajeStage
              img(data-depth="0.05", src="/images/home/stages/reciclaje-back.png")
              img(data-depth="0.1", src="/images/home/stages/reciclaje-main.png")
              img(data-depth="0.1", src="/images/home/stages/reciclaje-byp.png")
              img(data-depth="0.2", src="/images/home/stages/reciclaje-front.png")
            h3.home__reciclaje__title.wow.bounceInRight reciclaje
            a.home__reciclaje__cta(href="/reciclaje")
              span 
              p Empieza ahora
            .home__reciclaje__tooltips
                a.home__reciclaje__tooltip(href="/reciclaje#top")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/reciclaje.png")
                a.home__reciclaje__tooltip(href="/reciclaje#creaciones")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/reciclaje-creaciones.png")
                a.home__reciclaje__tooltip(href="/reciclaje#mapa")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/reciclaje-mapa.png")
                a.home__reciclaje__tooltip(href="/reciclaje#ideas")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/reciclaje-sube-tu-idea.png")
                a.home__reciclaje__tooltip(href="/reciclaje#tips")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/reciclaje-tips.png")
        
        section.home__diversion#diversion
            .home__diversion__stage#diversionStage
              img(data-depth="0.15", src="/images/home/stages/diversion-back.png")
              img(data-depth="0.2", src="/images/home/stages/diversion-main.png")
              img.wow.fadeInLeftBig(src="/images/home/stages/diversion-left.png")
              img.wow.fadeInRightBig(src="/images/home/stages/diversion-right.png")
              img(data-depth="0.1", src="/images/home/stages/diversion-front.png")
            
            h3.home__diversion__title.wow.bounceInRight diversion
            a.home__reciclaje__cta(href="/diversion")
              span 
              p Empieza ahora

            .home__diversion__tooltips
                a.home__diversion__tooltip(href="/diversion#juegos")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/diversion-juegos.png")
                a.home__diversion__tooltip(href="/diversion#concurso")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/diversion-concurso.png")
                a.home__diversion__tooltip(href="/diversion#cuentos")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/diversion-cuenta-cuentos.png")
                a.home__diversion__tooltip(href="/diversion#familia")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/diversion-diversion-familia.png")
                a.home__diversion__tooltip(href="/diversion#compartir")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/diversion-tu-diversion.png")

        section.home__mundo#mundo            
            .home__mundo__stage#mundoStage
              img(data-depth="0.1", src="/images/home/stages/mundo-back.png")
              img(data-depth="0.1", src="/images/home/stages/mundo-stars.png")
              img(data-depth="0.15", src="/images/home/stages/mundo-main.png")
              img(data-depth="0.3", src="/images/home/stages/mundo-planeta-left.png")
              img(src="/images/home/stages/mundo-left.png")
              img(src="/images/home/stages/mundo-right.png")

            h3.home__mundo__title.wow.bounceInRight mundo
            a.home__reciclaje__cta(href="/mundo")
              span 
              p Empieza ahora

            .home__mundo__tooltips
                a.home__mundo__tooltip(href="/mundo#historias")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/mundo-historia.png")
                a.home__mundo__tooltip(href="/mundo#productos")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/mundo-productos.png")
                a.home__mundo__tooltip(href="/mundo#campanas")
                    img.-close(src="/images/home/tooltip.png")
                    img.-open(src="/images/home/tooltips/mundo-campanas.png")
